{% extends "temp.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f0f5f5;">
    <a class="navbar-brand" href="#">The Messenger</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Amigos</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="/logout/">
            <button type="button" class="btn btn-outline-danger">LOGOUT</button>
        </a>
      </form>
    </div>
</nav>

<hr>
<h4 class="text-center display-4">ALGO AQUI</h1>
<hr>
<div class="container">
      <div class="col-sm-12 row">
          <div class="col-sm-6 border border-dark" >
            <form class="form-inline my-2 my-lg-0" style="padding-top: 5%;">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div style="padding-top: 5%;"> 
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">User</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Ação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td><button type="button" class="btn btn-outline-sucess">Adicionar</button></td>
                      </tr>
                      <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td><button type="button" class="btn btn-outline-sucess">Adicionar</button></td>
                      </tr>
                      <tr>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td><button type="button" class="btn btn-outline-sucess">Adicionar</button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
          <div class="col-sm-6 border border-dark" >
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
          </div>
      </div>
  </div>


{% endblock content %}